:root {
    --purple-1: #6B5B95; /* Muted Purple */
    --purple-2: #9B7FB5;
    --blue-1: #5D8AA8; /* Cool Muted Blue */
    --blue-2: #BFD7EA; /* Soft Neutral Grey-Blue */
    --text-color: #FFFFFF; /* For high contrast text */
    --cream: #F2F6F6;
}

html {
    font-size: clamp(14px, 1vw, 18px);
}

body {
    background-color: var(--cream);
}

.appTitle {
    text-align: center;
}


.container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    gap: 10px; /* Optional: Space between items */
    align-content: center;
    justify-content: center;
    background-color: var(--blue-2);
    border-radius: 8px;
    border: 1px solid black;     
    padding: 5%;
    margin: 5% 10%;
    box-shadow: 8px 8px 20px black;
    position: relative;
}

.containerHeader {
   position: relative;
    text-align: center;
   width: 100%;
   padding-bottom: 10%; 
   font-size: 1.5rem;
   font-weight: 700;
}

#group-container {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
    justify-content: center;
    gap: 10px;
}

.groupCard {
    cursor: pointer;
    border: 1px black solid;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--purple-1), var(--purple-2));
    padding: 12px 16px;
    color: var(--cream);
    text-align: center;
    box-sizing: border-box;
        
    /* Flex properties to ensure wrapping and responsiveness */
    flex: 0 1 auto;  /* Flex-grow, flex-shrink, and base size of 30% */
    
    transition: background 0.6s ease, transform 0.6s ease, box-shadow 0.6s ease;
}

.groupCard:hover
, .customBtn:hover {
     transform: scale(1.05);   
}

.groupCard:active
, .customBtn:active {
     transform: scale(0.95);
}

.groupCard.active {
     background: linear-gradient(90deg, var(--purple-1), var(--blue-1));
     transform: scale(1.05);
     box-shadow: 2px 2px 4px black;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-left: 10px;
}

select {
    flex: 1;
    margin-left: 10px;
    padding: 5px;
    font-size: 1rem;
}

.customBtn {
    cursor: pointer;
    border: 1px solid black;
    background: linear-gradient(90deg, var(--blue-1), #87AFCF);
    color: var(--cream);
    padding: 12px 16px;
    border-radius: 8px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#tabletop,
#loading-container {
    background-color:  #00000088;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    display: flex;
    flex-direction: column;
}

#loading {
    font-size: 2rem;
    color: var(--cream);
    animation: flicker 1s infinite linear;
}

@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#closeReviewBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.noBackground {
    background-color: none;
}


/* Flashcard design stuff */
.flashcardBox {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 5%;
    perspective: 1000px;
}

.flashcard {
    width: 60vw;
    aspect-ratio: 9/16;
    border: 1px solid black;
    border-radius: 12px;
    background: var(--cream);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    box-shadow: 0px 4px 12px black;
}

#flashcardFront
, #flashcardBack {
    backface-visibility: hidden;
    position: absolute;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

#flashcardBack
, #flashcardNumberBack
, #flashcardOtherBack {
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}

#flashcardNumberFront
, #flashcardNumberBack {
    backface-visibility: hidden;
    font-size: 1rem;
    padding: 10px 14px;
    color: black;
    border-bottom: 1px solid black;
    border-radius: 8px;
    position: absolute;
    top: 10px;
}

#flashcardOtherFront
, #flashcardOtherBack {
    backface-visibility: hidden;
    font-size: 1rem;
    color: grey;
    position: absolute;
    bottom: 10px;
}



/* slide classes/animations */
.slideOutLeft {
    animation: slideOutLeft 0.15s forwards;
}

.slideInLeft {
    animation: slideInLeft 0.15s forwards;
}

.slideOutRight {
    animation: slideOutRight 0.15s forwards;
}

.slideInRight {
    animation: slideInRight 0.15s forwards;
}

.jumpLtoR {
    animation: jumpLtoR 0s forwards;
}

.jumpRtoL {
    animation: jumpRtoL 0s forwards;
}

/* keyframes for slide animations */
@keyframes slideOutLeft {
    from {transform: translateX(0);
    }
    to {transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInLeft {
    from {transform: translateX(-100%);
        opacity: 0;
    }
    to {transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {transform: translateX(0);
    }
    to {transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {transform: translateX(100%);
        opacity: 0;
    }
    to {transform: translateX(0);
        opacity: 1;
    }
}

@keyframes jumpLtoR {
    from {transform: translateX(-100%);
        opacity: 0;
    }
    to {transform: translateX(100%);
        opacity:0;
    }
}

@keyframes jumpRtoL {
    from {transform: translateX(100%);
        opacity: 0;
    }
    to {transform: translateX(-100%);
        opacity:0;
    }
}