:root {
    --purple-1: #6B5B95; /* Muted Purple */
    --purple-2: #9B7FB5;
    --blue-1: #5D8AA8; /* Cool Muted Blue */
    --blue-2: #BFD7EA; /* Soft Neutral Grey-Blue */
    --text-color: #FFFFFF; /* For high contrast text */
    --cream: #F2F6F6;
}

html {
  /*  font-size: clamp(14px, 1vw, 18px);*/
    font-size: calc(1vh + 0.5em);
}

body {
    background-color: var(--cream);
}

.appTitle {
    text-align: center;
}


.container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    flex: 1 1 auto;
    gap: 1rem; /* Optional: Space between items */
    align-content: space-evenly;
    justify-content: space-evenly;
    background-color: var(--blue-2);
    border-radius: 0.5rem;
    border: 1px solid black;     
    padding: 5%;
    margin: 5% 10%;
    box-shadow: 8px 8px 20px black;
    position: relative;
}

.containerHeader {
   position: relative;
    text-align: center;
   width: 100%;
   font-size: 1.5rem;
   font-weight: 700;
    margin-bottom: 1rem;
}

#group-container {
   display: flex;
   flex-wrap: wrap;
    flex: 1 1 auto;
    gap: 1rem;
   align-content: space-evenly;
    justify-content: space-evenly;
}

#option-container {
    width: fit-content;
    display: block;
    gap: 1rem;
    width: 66%;
}

.groupCard {
    cursor: pointer;
    border: 1px black solid;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, var(--purple-1), var(--purple-2));
    padding: 1rem 1.25rem;
    color: var(--cream);
    text-align: center;
    box-sizing: border-box;
        
    /* Flex properties to ensure wrapping and responsiveness */
    flex: 0 1 auto;  /* Flex-grow, flex-shrink, and base size of 30% */
    
    transition: background 0.6s ease, transform 0.6s ease, box-shadow 0.6s ease;
}

.groupCard:hover
, .customBtn:hover {
     transform: scale(1.05);   
}

.groupCard:active
, .customBtn:active {
     transform: scale(0.95);
}

.groupCard.active {
     background: linear-gradient(90deg, var(--purple-1), var(--blue-1));
     transform: scale(1.05);
     box-shadow: 2px 2px 4px black;
}

.option {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    cursor: pointer;
    border-bottom: 1px solid var(--blue-1);
}

.optionPair {
    display: flex;
    justify-content: space-between; /* Push label and input to opposite sides */
    align-items: center; /* Center items vertically */
    margin-bottom: 1rem; /* Space between optionPairs */
    margin-left: 1rem;
    cursor: pointer;
    width: calc(100% - 1rem);
    box-sizing: border-box; /* Include padding/border in width */
}

#advancedOptions {
    flex-direction: column;
}

.noBorder {
    border: none;
}

label {
    flex: 1;
    text-align: left;
}

input {
    flex: 0;
    min-width: 3rem;
    text-align: center;
}

select {
    flex: 1;
    width: auto;
    max-width: 50;
    text-align: center;
}

.advancedOptions {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.customBtn {
    cursor: pointer;
    border: 1px solid black;
    background: linear-gradient(90deg, var(--blue-1), #87AFCF);
    color: var(--cream);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
}

#tabletop,
#loading-container {
    background-color:  #00000088;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    display: flex;
    flex-direction: column;
}

#loading {
    font-size: 2rem;
    color: var(--cream);
    animation: flicker 1s infinite linear;
}

@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#closeReviewBtn {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    padding: 0.5rem;
}

.noBackground {
    background-color: none;
}


/* Flashcard design stuff */
.flashcardBox {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 5%;
    perspective: 1000px;
}

.flashcard {
    height: 60vh;
    aspect-ratio: 9/16;
    border: 1px solid black;
    border-radius: 0.5rem;
    background: var(--cream);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    box-shadow: 0px 4px 12px black;
}

#flashcardCenterFront
, #flashcardCenterBack {
    backface-visibility: hidden;
    position: absolute;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#flashcardFront
, #flashcardBack {
    backface-visibility: hidden;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

#flashcardCenterBack
, #flashcardBack
, #flashcardNumberBack
, #flashcardOtherBack {
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}

#flashcardNumberFront
, #flashcardNumberBack {
    backface-visibility: hidden;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    color: black;
    border-bottom: 1px solid black;
    border-radius: 0.5rem;
    position: absolute;
    top: 1rem;
}

#flashcardOtherFront
, #flashcardOtherBack {
    backface-visibility: hidden;
    font-size: 1rem;
    color: grey;
    position: absolute;
    bottom: 1rem;
}

#flashcardAudioFront {
    margin-top: 1rem;
    cursor: pointer;
}

.fa-regular.fa-pen-to-square {
    cursor: pointer;
}

.fa-regular.fa-pen-to-square:hover {
    color: var(--purple-1);
}

/* slide classes/animations */
.slideOutLeft {
    animation: slideOutLeft 0.15s forwards;
}

.slideInLeft {
    animation: slideInLeft 0.15s forwards;
}

.slideOutRight {
    animation: slideOutRight 0.15s forwards;
}

.slideInRight {
    animation: slideInRight 0.15s forwards;
}

.jumpLtoR {
    animation: jumpLtoR 0s forwards;
}

.jumpRtoL {
    animation: jumpRtoL 0s forwards;
}

/* keyframes for slide animations */
@keyframes slideOutLeft {
    from {transform: translateX(0);
    }
    to {transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInLeft {
    from {transform: translateX(-100%);
        opacity: 0;
    }
    to {transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {transform: translateX(0);
    }
    to {transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {transform: translateX(100%);
        opacity: 0;
    }
    to {transform: translateX(0);
        opacity: 1;
    }
}

@keyframes jumpLtoR {
    from {transform: translateX(-100%);
        opacity: 0;
    }
    to {transform: translateX(100%);
        opacity:0;
    }
}

@keyframes jumpRtoL {
    from {transform: translateX(100%);
        opacity: 0;
    }
    to {transform: translateX(-100%);
        opacity:0;
    }
}

#timerBar {
    width: 0px;
    height: 0.5rem;
    background-color: var(--purple-1);
    position: absolute;
    bottom: 0px;
    border-radius: 0.5rem;
}

.error {
    color: red;
    width: 100%;
}
